/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home-page {
  position: relative;
  display: flex;
  flex-direction: row;
  /* align-items: stretch; */
  height: 100vh;
}

.background-slider {
  position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* z-index: -1; (might not be needed after all) */
}

.column {
  flex: 1;
  padding: 16px;
  /* border: 1px solid #ccc; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-item {
  position: fixed;
  margin-bottom: 20px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100; 
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;  /* For Safari and Chrome */
  -moz-user-select: none;     /* For Firefox */
  -ms-user-select: none;
  text-decoration: none;
  color:whitesmoke;
  flex: 1;
  font-family: 'Rubik', sans-serif;
  cursor: pointer;
  margin: auto;
  font-weight: 100;
  transition: font-weight 250ms ease-in-out;
}

/* dont need this */
/* .menu-item:hover {
  font-weight: 900;
  color: whitesmoke;
  text-decoration: none;
} */ 

.nav-item {
  color:whitesmoke; 
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  user-select: none;
  -webkit-user-select: none;  /* For Safari and Chrome */
  -moz-user-select: none;     /* For Firefox */
  -ms-user-select: none;
}

.white-link {
  color: whitesmoke;
  text-decoration: none;
}

.white-link:hover {
  font-weight: 900;
  color: whitesmoke;
  text-decoration: none;
}

.flex-top-left {
  align-self: flex-start;
  margin-top: 15px;
  margin-left: 15px;
}

.flex-bottom-right, .flex-top-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-top-right {
  align-self: flex-start;
  margin-top: 15px;
  margin-right: 15px;
}

.flex-bottom-right {
  align-self: flex-start;
  margin-bottom: 15px;
  margin-right: 15px;
}

.audio-icon {
  position: fixed;  /* Fix the position */
  right: 15px;      /* 15px from the right */
  bottom: 15px;     /* 15px from the bottom */
}

.home-icon {
  position: fixed;  /* Fix the position */
  right: 15px;      /* 15px from the right */
  top: 15px;     /* 15px from the bottom */
}

.logo-icon {
  position: fixed;  /* Fix the position */
  left: 15px;      /* 15px from the right */
  top: 15px;     /* 15px from the bottom */
}

.text-effect-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.about-column {
  flex: 6;
}

.work-column {
  flex: 6;
}

.contact-column {
  flex: 6;
}

/* (might not need this after all)
.logo-left, .menu-items, .nav-right {
  position: relative;
  /* z-index: 10; Just to make sure they are above the background 
} 
*/

/* platonics componet */
body {
  background: #666;
  margin: 0;
  overflow: hidden;
}
canvas {
  height: 100vh;
  width: 100vw;
  touch-action: none;
}
.osc {
  left: 0px;
  position: fixed;
  top: 0px;
}

.button {
  position: fixed;
  z-index: 10;
  right: 0;
  bottom: 0;
}
.controls {
  position: fixed;
  z-index: 10;
  left: 0;
  bottom: 0;
}
.playpause {
  background: #AAB;
  padding: 10px;
}
.playpause label {
  display: block;
  box-sizing: border-box;

  width: 0;
  height: 20px;

  cursor: pointer;

  border-color: transparent transparent transparent #202020;
  transition: 100ms all ease;
  will-change: border-width;

  border-style: double;
  border-width: 0px 0 0px 20px;
}
.playpause input[type='checkbox'] {
  visibility: hidden;
}
.playpause.checked label {
  border-style: double;
  border-width: 0px 0 0px 20px;
}
.playpause label {
  border-style: solid;
  border-width: 10px 0 10px 20px;
}

.platonics-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* z-index: -1; */
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;    /* 75% of the viewport height */
  width: 100vh;     /* Make it a square using vh units for width */
  margin: auto;    /* Auto margins help centering */
  position: absolute; /* To perfectly center using top, right, bottom, left */
  top: 0; right: 0; bottom: 0; left: 0;
  /* overflow: hidden; */
}

.carousel-control-prev {
  left: -15%; /* Adjust this value as per your design needs */
}

.carousel-control-next {
  right: -15%; /* Adjust this value as per your design needs */
}

.about-text, .contact-text {
    background-color: rgba(0, 0, 0, 0.8); /* Black with opacity */
    padding: 15px; /* Add some padding for better design */
    color: whitesmoke; 
}

.bar {
  width: 100px; /* Initial width */
  height: 10px;
  background-color: whitesmoke;
  border: 1px solid black;
  transition: width 0.3s ease-out;
}

.menu-items-container {
  display: flex; /* items side-by-side by default */
  justify-content: center; /* spaces them out evenly */
  align-items: center;
  width: 60%; /* this is the key change to make it 3/5ths of the screen width */
  margin: 0 auto; /* this will center it horizontally */
}

/* Media Query for mobile view (typically devices with width less than 768px) */
@media (max-width: 768px) {
  .menu-items-container {
    flex-direction: column; /* stacks items vertically */
    align-items: center; /* centers them horizontally */
  }

  .menu-item {
    /* flex: 1; */
    /* padding: 2px;  Reduced the padding to bring items closer together */
    /* display: flex; */
    flex-direction: column;
    /* align-items: center; */
  }
  .audio-icon {
    font-size: 14px;   /* Adjust the font-size if needed for mobile */
    right: 5px;       /* Adjust the right position if needed for mobile */
    bottom: 5px;      /* Adjust the bottom position if needed for mobile */
  }
  .home-icon {
    font-size: 14px;   /* Adjust the font-size if needed for mobile */
    right: 5px;       /* Adjust the right position if needed for mobile */
    top: 5px;      /* Adjust the bottom position if needed for mobile */
  }

  .logo-icon {
    /* font-size: 14px;   Adjust the font-size if needed for mobile */
    left: 5px;       /* Adjust the right position if needed for mobile */
    top: 5px;      /* Adjust the bottom position if needed for mobile */
  }
}

.button-bottom-center {
  position: fixed;
  margin-bottom: 20px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); /* Centers the button horizontally */
  z-index: 100; /* Ensures it's on top */
}

.link-spacing {
  margin: 0 25px; /* Add left and right margin of 15px */
}
