/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home-page {
  position: relative;
  display: flex;
  align-items: stretch;
  height: 100vh;
}

.background-slider {
  position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* z-index: -1; (might not be needed after all) */
}

.column {
  flex: 1;
  padding: 16px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-item {
  color:whitesmoke;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 36px;
}

.nav-item {
  color:whitesmoke; 
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.flex-top-left {
  align-self: flex-start;
  margin-top: 15px;
  margin-left: 15px;
}

.flex-bottom-right, .flex-top-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.white-link {
  color: whitesmoke;
}

.text-effect-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.about-column {
  flex: 6;
}

.work-column {
  flex: 6;
}

.contact-column {
  flex: 6;
}

/* (might not need this after all)
.logo-left, .menu-items, .nav-right {
  position: relative;
  /* z-index: 10; Just to make sure they are above the background 
} 
*/

/* platonics componet */
body {
  background: #666;
  margin: 0;
  overflow: hidden;
}
canvas {
  height: 100vh;
  width: 100vw;
  touch-action: none;
}
.osc {
  left: 0px;
  position: fixed;
  top: 0px;
}

.button {
  position: fixed;
  z-index: 10;
  right: 0;
  bottom: 0;
}
.controls {
  position: fixed;
  z-index: 10;
  left: 0;
  bottom: 0;
}
.playpause {
  background: #AAB;
  padding: 10px;
}
.playpause label {
  display: block;
  box-sizing: border-box;

  width: 0;
  height: 20px;

  cursor: pointer;

  border-color: transparent transparent transparent #202020;
  transition: 100ms all ease;
  will-change: border-width;

  border-style: double;
  border-width: 0px 0 0px 20px;
}
.playpause input[type='checkbox'] {
  visibility: hidden;
}
.playpause.checked label {
  border-style: double;
  border-width: 0px 0 0px 20px;
}
.playpause label {
  border-style: solid;
  border-width: 10px 0 10px 20px;
}

.platonics-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* z-index: -1; ensure it stays behind other elements (not working as expected) */
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;    /* 75% of the viewport height */
  width: 100vh;     /* Make it a square using vh units for width */
  margin: auto;    /* Auto margins help centering */
  position: absolute; /* To perfectly center using top, right, bottom, left */
  top: 0; right: 0; bottom: 0; left: 0;
  /* overflow: hidden; */
}

.carousel-control-prev {
  left: -25%; /* Adjust this value as per your design needs */
}

.carousel-control-next {
  right: -25%; /* Adjust this value as per your design needs */
}
